<md-dialog flex="100" flex-gt-xs="40" aria-label="Package dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span ng-if="typeAction == 'new'">New Post</span>
            <span ng-if="typeAction == 'view'">View Post</span>
            <span ng-if="typeAction == 'edit'">Edit Post</span>
            <span flex></span>
            <ng-md-icon icon="close" class="icon-close" ng-click="onCancel()" aria-label="Close dialog"></ng-md-icon>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card-content>

                <form name="form" novalidate>

                    <div layout="row">
                        <md-input-container flex>
                            <label>Title</label>
                            <input required name="title" ng-model="post.title">
                            <div ng-messages="form.title.$error">
                                <div ng-message="required">Field required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex>
                            <label>Content</label>
                            <textarea required name="body" ng-model="post.body" rows="5"></textarea>
                            <div ng-messages="form.body.$error">
                                <div ng-message="required">Field required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-autocomplete flex
                            md-input-name="place"
                            md-min-length="3"
                            md-delay="1000"
                            md-no-cache="true"
                            md-selected-item="post.place"
                            md-search-text="searchText"
                            md-items="place in queryPlaces(searchText)"
                            md-item-text="place.title"
                            md-require-match
                            md-floating-label="Place">
                            <md-item-template>
                            <span md-highlight-text="searchText">{{ place.title }}</span>
                            </md-item-template>
                            <md-not-found>
                            No matches found.
                            </md-not-found>
                            <div ng-messages="form.item.$error">
                              <div ng-message="md-require-match">Please select an existing place.</div>
                            </div>
                        </md-autocomplete>

                    <div layout="row" layout-align="start">
                        <md-input-container md-no-float class="md-block" flex="70">
                            <label>Upload Photo</label>
                            <input type="text" ng-model="imageFilename" disabled>
                        </md-input-container>

                        <div layout="column" layout-align="start center" flex="30" ng-show="ActiveAction">
                            <ng-md-icon icon="photo_camera" class="photo-camera" ng-class="{ 'icon-active': post.image.url() }">
                            </ng-md-icon>
                            <md-button type="button" class="md-raised md-mini" ngf-select="uploadImage($file)" ngf-pattern="'image/*'">
                                {{ 'BROWSE' | translate }}
                            </md-button>
                            <md-progress-circular class="md-primary" md-diameter="30" ng-if="isUploading">
                            </md-progress-circular>
                        </div>
                    </div>

                </form>

            </md-card-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-show="ActiveAction">
        <span flex></span>
        <md-button class="md-primary" ng-click="onCancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-disabled="isSavingDisabled" ng-click="onSubmit(form.$valid)">
            {{ !isSavingDisabled ? 'Save' : 'Saving...' }}
        </md-button>
    </md-dialog-actions>
</md-dialog>